<app-header></app-header>
<h2>INVOICE </h2>
<div class="invoice">
    <div class="header">
      <h1>Invoice</h1>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Rate</th>
          <th>Unit</th>
          <th>Discount</th>
          <th>Total</th>
          <th>Total Amount Paid</th>
          <th>button</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let cust of invoiceItems">
          <td>{{ cust.billId }}</td>
          <td>{{cust.customer.name}}</td>
          <td>{{cust.paymentMode.rate}}</td>
          <td>{{cust.consumedUnit}}</td>
          <td>{{cust.paymentMode.dateDiscount}}</td>
          <td>{{cust.amount}}</td>
          <td>{{cust.totalAmount}}</td>
          <td><button class="pay-button" (click)="navigateToConformPayment()">Pay</button></td>
        </tr>
      </tbody>
    </table>
    <div>
    </div>
  </div>
  
        